In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from mplsoccer import PyPizza, add_image, FontManager
from scipy import stats
import math
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('uel_19_20.csv')

In [14]:
df.head()

,Team,MP,npxG,Sh/90,SoT/90,G/Sh,Distance,npxG/Sh,Completed Passes,Pass %,...,Press,5-Second Gain,Pressures %,Pressures Att 3rd,Touches Def 3rd,Touches Att 3rd,Touches Att Pen,Dribbles Attemped,Dribbles Succ%,Possession
0,Ajax,2,0.75,5.00,1.00,0.10,13.0,0.15,420.5,76.2,...,122.0,37.5,30.7,21.5,227.0,166.0,20.5,15.0,50.0,67.5
1,APOEL,8,0.78,8.50,3.00,0.10,20.4,0.09,284.9,76.3,...,186.1,44.5,23.9,31.6,165.8,109.9,15.6,21.1,62.1,38.1
2,Arsenal,8,1.95,14.88,4.44,0.13,15.4,0.13,472.3,84.1,...,167.7,48.6,29.0,39.5,201.2,181.4,31.1,21.0,58.6,58.0
3,Astana FK,6,0.50,8.17,2.67,0.06,18.9,0.06,335.0,79.2,...,206.3,41.3,20.0,32.5,232.2,99.8,13.7,18.3,54.5,38.7
4,AZ Alkmaar,8,1.60,12.87,4.75,0.13,18.2,0.13,515.9,83.8,...,173.4,52.8,30.4,39.4,241.1,166.6,25.8,23.6,70.9,58.9

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Team                56 non-null     object
 1   MP                  56 non-null     int64
 2   npxG                56 non-null     float64
 3   Sh/90               56 non-null     float64
 4   SoT/90              56 non-null     float64
 5   G/Sh                56 non-null     float64
 6   Distance            56 non-null     float64
 7   npxG/Sh             56 non-null     float64
 8   Completed Passes    56 non-null     float64
 9   Pass %              56 non-null     float64
 10  Key Passes          56 non-null     float64
 11  Progressive Passes  56 non-null     float64
 12  Passes in Press     56 non-null     float64
 13  High Passes         56 non-null     float64
 14  Tackles Att 3rd     56 non-null     float64
 15  Dribbles Past       56 non-null     float64
 16  Press               56 non-null     float64
 17  5-Second Gain       56 non-null     float64
 18  Pressures %         56 non-null     float64
 19  Pressures Att 3rd   56 non-null     float64
 20  Touches Def 3rd     56 non-null     float64
 21  Touches Att 3rd     56 non-null     float64
 22  Touches Att Pen     56 non-null     float64
 23  Dribbles Attemped   56 non-null     float64
 24  Dribbles Succ%      56 non-null     float64
 25  Possession          56 non-null     float64
dtypes: float64(24), int64(1), object(1)
memory usage: 11.5+ KB

In [ ]:
params =